###########################################################################
#
#                            LaMMA - Valerio Capecchi
#
# Author  : Valerio Capecchi <capecchi@lamma.rete.toscana.it>
# Date    : 2013-07-30
# UpDate  : 2015-03-09
# Purpose : Parameters settings for GEFS regional ensemble
#
###########################################################################

# GEFS parameters
WEBADD='http://nomads.ncep.noaa.gov/pub/data/nccf/com/gens/prod'
#TYPE='pgrb2b'   # Least commonly used parameters;
#TYPE='pgrb2a'   # Most commonly used parameters;
TYPE='pgrb2'     # Both least and most used parameters combined;
incr=6           # time increment for gefs forecast
num_member=1     # number of member to be downloaded
run_lenght=6    # number of forecast hours
ndomains=1       # number of domains

# Local parameters
ROOTDIR='ROOTTOBEDET'
SCRPDIR=$ROOTDIR'/scripts'
TMPLDIR=$ROOTDIR'/tmpl'
LOGDIR=$ROOTDIR'/log'

# Data
# !!!!!!!!!!!!!!!!!
# This variable needs to be set manually
GEOGPATH=$HOME'/data/geog'
# !!!!!!!!!!!!!!!!!
GEFSDIR=$ROOTDIR'/data/input/gefs'
# !!!!!!!!!!!!!!!!!
# Watch out! length of $OUTDIR string must be less than 80 (maybe)
OUTDIR=$ROOTDIR'/data/output/wrfout' 
# !!!!!!!!!!!!!!!!!
GRBDIR=$ROOTDIR'/data/output/grib'

# Working directory
PREPDIR=$ROOTDIR'/preproc'
RUNDIR=$ROOTDIR'/run'
POSTDIR=$ROOTDIR'/postproc'

# WPS
WPSROOTDIR='WPSTOBEDET'
TBLPATH=$WPSROOTDIR'/ungrib/Variable_Tables'

# WRF
WRFROOTDIR='WRFTOBEDET'
BINDIR=$WRFROOTDIR'/main'
TBLPATH_WRF=$WRFROOTDIR'/run'

# Unipost
UNIROOTDIR='UNITOBEDET'
prefix='testrun'

# MPI setting
parallel_run=0 # 1 run WRF in parallel
               # 0 run WRF in serial
MPI=mvapich2

